<!DOCTYPE html>
<html>
<head>
  <title>TermC</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag   "application" %>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
</head>
<body>
    <div class="container">
      <!--
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      -->
      <%= yield %>
      <%=
          #debug(params) if Rails.env.development?
      %>
    </div>

</body>
</html>
